*{
     margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    }

    body{width: 100%;
        height: 100vh;
        background-image:linear-gradient(rgba(50,50,50,0.6),rgba(50,50,50,0.6)),url(agric\ image\ 2.jpg);
       background-position:center;
        background-size:cover;
        position: relative;
    }
    .logo{
        width: 140px;
        margin: auto;
        padding: 20px 30px;
    }
.navbar ul{
    float: right;
    margin-right: 20px;
}
.navbar ul li{
    list-style-type: none;
    margin: 8px 8px;
    padding: 10px;
    display: inline-block;
    line-height: 80px;
}

.navbar ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    font-family:verdana,sans-serif;
}
.navbar ul li a:hover{
    color: rgba(7, 218, 233, 0.938);
}
.story{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    /*this 3 brings our note to the center of the web page*/
    font-family: serif;
    user-select: none;
}
.story h1{
    font-size: 70px;
    text-transform: uppercase;
    text-align: center;
    width: 900px;
    font-weight: bold;
}
.story h2{
    font-size: 30px;
    text-align: center;
    width:885px;
    padding: 10px 20px;
}
.story p1{
    font-size: 25px;
    text-align: center;
    width:885px;
    color:rgba(166, 199, 21, 0.712);
    font-weight: bold;
}
 .story .button{
    margin: 35px 280px;
    }
.button button{
    height: 50px;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    color: rgba(47, 155, 218, 0.808);
    border-radius: 25px;
    background-color:rgba(173, 125, 125, 0.747);
    border: 1px solid black;
    transition:.5s;    
}
    .button .up{
        margin-left:25px;
    }
    .button button:hover{
        background:white;
    }


.formbox{
    width:90%;
    max-width:450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 50px 60px 70px;
    background: white;
}
.input2{
    background: bisque;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
}
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}
.input2 i{
    margin-left: 15px;
    color: black;
}
form p4 {
    font-size: 13px;
    text-align: left;
    font-family: 'sans-serif';
}
form p4 a{
    text-decoration: none;
    color:green;
}
.btn{
    width:100%;
    display: flex;
    justify-content: space-between;

}
.btn button{
    flex-basis: 48%;
    background: darkolivegreen;
    color: black;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer; 
    transition: .4s;   
}
span {
    flex-basis: 48%;
    background: darkolivegreen;
    color: black;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;   
    border: 2px solid black; 
    transition: .4s;
}
.btn button:hover{
    background-color: whitesmoke;
}
span:hover{
    background-color: whitesmoke;
}
.about{
    font-size: large;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgba(247, 151, 8, 0.849);
}